.luxbar-menu {
    background-color: #a3c6cc !important;
    & li {
        &:hover{
            background-color: white !important;
        }
    }
}

.luxbar-hamburger {
    color: #494949 !important;
}