@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  background-color: white;
  // margin-left: 80px;

  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {

    margin-left: 1.3rem;
    max-width: auto;
    margin-bottom:-30px;
    height: 35px;
    line-height: 2.1875rem;

    // display: block;
    // max-width: 90px;
    // height: $button-height;
    // padding: 0 24px;
    // line-height: $button-height;
    // text-align: center;
    // color: $color-base;
    // border: 1px solid $color-gray-border;
    // border-radius: $button-border-radius;
    // font-size: $typographic-base-font-size;
    // font-weight: normal;
    // margin-left: auto;
    // margin-right: auto;
    // @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }

  &__inner {
      padding: 30px 20px;
  }

  & h2 {
    padding: 0.1em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 7px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    font-weight: 600;
    font-size: 130%;
  }

  & h3 {
    padding: 0.1em 0.5em;/*文字の上下 左右の余白*/
    // color: #494949;/*文字色*/
    // background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    // display: inline-block;
    font-weight: 600;
    font-size: 130%;
  }

}

@include breakpoint-md {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }

    // &__home-button {
    //   position: fixed;
    //   max-width: auto;
    //   margin: 0;
    //   top: 30px;
    //   left: 30px
    // }

    lost-column: 2/3;
    &__inner {
        padding: 40px 35px;
    }  
  }
}

